// colors
$accent-color: #ffd600;
$accent-color-hover: #eec400;
$background-color: #161616;
$text-color: #eeeeee;
$sub-text-color: #8f8f8f;

// shadows
$main-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
